@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font: 16px/28px;
    font-family: 'Poppins', sans-serif;
    background-color: #EBF9FC ;
}

.container {
    width: 960px;
    margin: auto;
    background-color:white ;

}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #0E6A7D;
    color: white;
    padding: 45px;
    margin-top: -19px;
    margin-right: -20px;
    margin-left: -20px;
    letter-spacing: 20px;
}

.header ul li {
    display: inline-block;
    margin-right: 70px;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-left: -30px;

}

.header a {
    text-decoration: none;
    color: #03045E;
    padding: 15px;
}

.header a:hover {
    color: #0E6A7D;
    background-color: #0e6a7d1b;
    border-radius: 100px;
}

.bg-image {
   height: 350px;
   background-image: url(asset/img.jpg);
   background-size: cover;
   background-position: 0 -160px;
   border-top: 3px solid lightskyblue;
   border-bottom: 3px solid lightskyblue;
}

.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    color: #03045E;
    font-size: 30px;
    margin-top: 25px;
}

.main p {
    font-size: 18px;
    margin-top: -10px;
}

.main a{
    text-decoration: none;
    color:#0E6A7D;
}

.main .article {
    font-size: 17px;
    line-height: 45px;
    margin-top: 20px;
    text-align: justify;
}

.main .article-img {
    box-shadow: 2px 2px 4px #0E6A7D;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    color: #03045E;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.sidebar .box img {
    border-radius: 100px;
    width: 180px;
    display: inline-block;
    border-color: #0E6A7D;
}

.sidebar p {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}

.sidebar .socmed {
    font-size: 18px;
    margin-top: -10px;
}

.sidebar .socmed a{
        text-decoration: none;
        color:#0E6A7D;
}

.sidebar #about, #about-us {
    margin-top: 50px;
    background-color: #0E6A7D;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.footer {
    padding: 4px;
    background-color: #0E6A7D;
    color: white;
}

.footer .copyright {
    font-size: 18px;
    text-align: center;
}



/* clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}